.rotary {
    position: relative;

    width: 30px;

    transform: rotate(-45deg);
}
    .rotary__knob {
        position: relative;

        width: 100%;
        margin: -1px;
        padding-bottom: 100%;

        border: 1px solid;
        border-radius: 50%;

        transform-origin: 50% 50%;
    }

    .rotary__knob:after {
        content: '';

        position: absolute;
        left: 0; top: 50%;

        width: 25%;
        border-bottom: 1px solid;
    }

.rotary:before,
.rotary:after {
    content: '';

    position: absolute;

    transform-origin: 50% 50%;
}

.rotary:before {
    width: 25%;
    right: 100%; top: 50%;
    border-bottom: 1px solid red;
}

.rotary:after {
    height: 25%;
    left: 50%; top: 100%;
    border-right: 1px solid red;
}